{% extends 'encabezado.html' %}
{% block title %}Servicios{% endblock %}
{% block containt %}
<h2>Esta es la zona de Servicios</h2>
<div class="services">
    <div class="service">
        <h3>Desarrollo Web</h3>
        <p>Ofrecemos servicios de desarrollo web personalizados para satisfacer las necesidades de su negocio.</p>
    </div>
    <div class="service">
        <h3>Consultoría Tecnológica</h3>
        <p>Brindamos consultoría tecnológica para ayudarle a implementar las mejores soluciones para su empresa.</p>
    </div>
    <div class="service">
        <h3>Soporte Técnico</h3>
        <p>Proveemos soporte técnico para asegurar que sus sistemas funcionen sin problemas.</p>
    </div>
    <div class="service">
        <h3>Marketing Digital</h3>
        <p>Ayudamos a su empresa a crecer en línea con estrategias de marketing digital efectivas.</p>
    </div>
</div>
{% endblock %}